<div class="time-report-container">
  <mat-calendar
    [dateClass]="dateClass"
    (selectedChange)="dateSelected($event)">
  </mat-calendar>

  <div class="selected-dates" *ngIf="selectedDates.length">
    <ul>
      <li *ngFor="let date of selectedDates">
        {{ date | date:'dd-MM' }}
      </li>
    </ul>
  </div>

  <div class="button">
    <button mat-button (click)="searchReport()">Buscar Relatório</button>
  </div>
  <!-- Campo para Reference Minutes no formato HH:mm -->
  <div class="form-group">
    <label for="referenceTime">Saldo de Horas:</label>
    <input class="time" type="time" id="referenceTime" [(ngModel)]="referenceTime" />
  </div>

  <div class="button">
    <button mat-button (click)="fetchBalance()">Buscar Saldo</button>
  </div>

  <!-- Exibição do saldo -->
  <div *ngIf="balance !== null" class="balance-result">
    <h3>Saldo de Horas</h3>
    <p [ngClass]="{'positive-balance': isPositiveBalance(), 'negative-balance': !isPositiveBalance()}">
      Horas acumuladas: <strong>{{ balance }}</strong>
    </p>
  </div>

  <ng-container *ngIf="loading">
    <p class="loading-text">Carregando relatório...</p>
  </ng-container>
  <div *ngIf="errorMessage" class="error-text">
    {{ errorMessage }}
  </div>

  <div *ngIf="paginatedData.length > 0">
    <h3>Resultados do Relatório</h3>
    <table>
      <thead>
      <tr>
        <th>Início</th>
        <th>Término</th>
        <th>Jornada</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of paginatedData">
        <td> {{ item.startWorkTime }}<br>{{ item.startWorkDate | date:'dd / MM / yy' }} </td>
        <td>{{ item.endWorkTime }}<br> {{ item.endWorkDate | date:'dd / MM / yy' }}</td>
        <td>{{ item.timeWorked }}</td>
      </tr>
      </tbody>
    </table>
    <div class="box-bnt">
    <div class="pagination">
      <button class="btn-pagination-prev" (click)="prevPage()" [disabled]="currentPage === 0">Anterior</button>
      <span  class="pagination-text" > {{ currentPage + 1 }} / {{ totalPages }}</span>
      <button class="btn-pagination-next" (click)="nextPage()" [disabled]="(currentPage + 1) * pageSize >= reportData?.content!.length">Próximo</button>
    </div>
  </div>
  </div>
</div>
<div class="btn">
  <app-button label="Home" [url]="'/home'"></app-button>
  <app-button label="Voltar" [url]="'/colaborador'"></app-button>
  <app-button label="Sair" [isLogoutButton]="true"></app-button>
</div>
