/* time-records-by-adm.component.css */

/* Container principal */
.time-report-container {
  max-width: 22rem;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Títulos */
.time-report-container h2,
.time-report-container h3,
.time-report-container p {
  text-align: center;
}

.time-report-container h2 {
  font-size: 1.2rem;
  color: var(--white-green);
  font-weight: bold;
}

/* Datas selecionadas */
.selected-dates {
  margin: 1rem 0;

}

.selected-dates ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.selected-dates li {
  background-color: #05b4cb;
  padding: 5px 10px;
  border-radius: 4px;
}

/* Formulário e input */
.form-group {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  font-weight: bold;
  padding-top: 0.2rem;
  padding-bottom: 0.8rem;
  color: var(--white-green);
}

.form-group input {
  padding: 0.1rem;
  font-size: 0.9rem;
  width: 4.7rem;
}

.balance{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.7rem;
}
.balance input{
  border-radius: 40px;
  font-size: 1rem;
  width: 25%;

}

.balance-time{
  font-size: 1.2rem;
  padding-bottom: 0.7rem;
  color: var(--white-green);
}
.time {
  border-radius: 50px;
  background-color: var(--white);
  box-shadow: none;
  text-align: center;

}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

/* Mensagens de carregamento e erro */
.loading-text {
  text-align: center;
  font-size: 18px;
  color: #007bff;
  margin: 20px 0;
}

.error-text {
  text-align: center;
  font-size: 18px;
  color: #dc3545;
  margin: 20px 0;
}


/* Tabela de resultados */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5rem;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: var(--gray);
}

tr{
  background-color: var(--black);
  line-height: 1.5rem;
  color: var(--white-green);
}

.pagination {
  text-align: center;
  color: var(--white);
  padding-top: 1rem;
}
.pagination-text{
  font-size: 0.95rem;
}

.btn-pagination-next,
.btn-pagination-prev {
  text-align: center;
  font-size: 1rem;
  border-radius: 10rem;
  background-color: var(--black);
  color: var(--green);
  font-weight: bold;
  cursor: pointer;
}

.btn-pagination-prev {
  margin-right: 0.5rem;
}

.btn-pagination-next {
  margin-left: 0.5rem;
}

.btn-pagination-prev:disabled {
  background-color: var(--gray);
  font-style: oblique;
  cursor: not-allowed;
}

button{
  font-size: 1rem;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.positive-balance {
  color: green;
  font-weight: bold;
}

.negative-balance {
  color: red;
  font-weight: bold;
}
