<app-error-message [message]="alertMessage" [type]="alertType"></app-error-message>


<app-auth-form [title]="'Alterar Senha'" [formGroup]="updatePassword" (submitEvent)="onSubmit()">
  <div form-fields>
    <div>
      <label for="oldPassword">Senha atual:</label>
      <div class="password-container">
        <input
          id="oldPassword"
          [type]="showOldPassword ? 'text' : 'password'"
          formControlName="oldPassword"
          placeholder="Digite a senha antiga"
        />

        <app-toggle-password [showPassword]="showOldPassword" (toggle)="showOldPassword = $event"></app-toggle-password>

      </div>
      <small *ngIf="updatePassword.get('oldPassword')?.touched && updatePassword.get('oldPassword')?.invalid">
        {{ getErrorMessage('oldPassword')| fieldLabel }}
      </small>
    </div>
    <div>
      <label for="newPassword">Nova Senha:</label>
      <div class="password-container">
        <input id="newPassword" [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
               placeholder="Digite a nova senha">
        <app-toggle-password [showPassword]="showNewPassword" (toggle)="showNewPassword = $event"></app-toggle-password>
      </div>
      <small *ngIf="updatePassword.get('newPassword')?.touched && updatePassword.get('newPassword')?.invalid">
        {{ getErrorMessage('newPassword')| fieldLabel }}
      </small>
    </div>
    <div>
      <label for="confirmPassword">Confirmação de Senha:</label>
      <div class="password-container">
        <input id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
               placeholder="confirme sua senha">
        <app-toggle-password [showPassword]="showConfirmPassword" (toggle)="showConfirmPassword = $event"></app-toggle-password>

      </div>
      <small *ngIf="updatePassword.get('confirmPassword')?.touched && updatePassword.get('confirmPassword')?.invalid">
        {{ getErrorMessage('confirmPassword')| fieldLabel }}
      </small>
    </div>
  </div>
  <div form-buttons>
    <div class="btn-container">
      <app-button-submit label="Alterar" type="submit" [disabled]="formGroup.invalid"></app-button-submit>
    </div>
  </div>

</app-auth-form>
<app-error-message [message]="alertMessage" [type]="alertType"></app-error-message>

<div class="btn">
  <app-button label="Home" [url]="'/home'"></app-button>
  <app-button label="Voltar" [url]="'/alterar-dados'"></app-button>
  <app-button label="Sair" [isLogoutButton]="true"></app-button>
</div>
