.toggle-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.toggle-btn .material-icons {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.toggle-btn:hover .material-icons {
  transform: scale(1.1);
}
