<app-error-message [message]="alertMessage" [type]="alertType"></app-error-message>
<app-auth-form [title]="'Recuperar Senha'" [formGroup]="resetPassword" (submitEvent)="onSubmit()">
    <div form-fields>
        <div>
            <label for="cpf">CPF:</label>
            <div class="cpf-container">
                <input id="cpf" type="text" formControlName="cpf" placeholder="Digite seu CPF">
                <small *ngIf="resetPassword.get('cpf')?.touched && resetPassword.get('cpf')?.invalid">
                    {{ getErrorMessage('cpf') }}
                </small>
            </div>
        </div>
        <div>
            <label for="email">E-mail:</label>
            <div class="email-container">
                <input id="email" type="email" formControlName="email" placeholder="Digite seu email">
            </div>
            <small *ngIf="resetPassword.get('email')?.touched && resetPassword.get('email')?.invalid">
                {{ getErrorMessage('email') }}
            </small>
        </div>
    </div>
    <div form-buttons>
        <app-button-submit label="Recuperar" type="submit" [disabled]="formGroup.invalid"></app-button-submit>
        <div class="btn">
            <a class="link" (click)="goToLogin()">Login</a>
        </div>
    </div>
</app-auth-form>

