/* Labels */
label {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: bold;
  color: var(--white);
}

/* Inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 2rem;
  max-width: 400px;
  padding: 0.5rem;
  border: 1px solid var(--white);
  border-radius: 2.5rem;
  font-size: 0.8rem;
  text-align: center;
}

/* Containers CPF e Senha */
.cpf-container,
.senha-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.senha-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* Garante que o campo fique centralizado */
  width: 100%;
  max-width: 400px;
  margin: 0 auto; /* Centraliza o campo na página */
}

.senha-container input {
  width: 100%;
  max-width: 350px; /* Ajuste para não ficar muito largo */
  padding-right: 2.5rem; /* Espaço para o botão de alternar senha */
  text-align: center; /* Centraliza o texto dentro do campo */
}
/* Mensagens de erro */
small {
  display: block;
  margin-top: 0.6rem;
  color: var(--error);
  text-align: center;
  font-size: 0.7rem;
}

/* Botão de recuperação de senha */
.link {
  font-size: 0.7rem;
  color: var(--gray);
  cursor: pointer;
}

.link:hover {
  color: var(--green);
  text-decoration: underline;
}
