<app-auth-form [title]="'Login Kronos'" [formGroup]="loginForm" (submitEvent)="onSubmit()">
  <div form-fields>
    <div>
      <label for="cpf">CPF:</label>
      <div class="cpf-container">
        <input id="cpf" type="text" formControlName="cpf" placeholder="Digite seu CPF">
        <small *ngIf="loginForm.get('cpf')?.touched && loginForm.get('cpf')?.invalid">
          {{ getErrorMessage('cpf') }}
        </small>
      </div>
    </div>
    <div>
      <label for="password">Senha:</label>
      <div class="senha-container">
        <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
               placeholder="Digite sua senha">
        <button type="button" class="toggle-btn" (click)="toggleShowPassword()" aria-label="Mostrar ou ocultar senha">
    <span class="material-icons toggle-icon">
         {{ showPassword ? 'visibility' : 'visibility_off' }}
    </span>
        </button>
      </div>

      <small *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        {{ getErrorMessage('password') | fieldLabel }}
      </small>
    </div>
  </div>
  <div form-buttons>
    <app-button-submit label="Entrar" type="submit" [disabled]="formGroup.invalid"></app-button-submit>
    <div class="btn">
      <a class="link" (click)="goToResetPassword()">Recuperar senha</a>
    </div>
  </div>
</app-auth-form>

<!-- Mensagem de erro -->
<app-error-message [message]="alertMessage" [type]="alertType"></app-error-message>
