<div class="form-wrapper">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1 class="titulo">Kronos Tech Solution</h1>
  <div class="container">
    <div>
      <label for="cpf">CPF:</label>
      <div class="cpf-container">
        <input id="cpf" type="text" formControlName="cpf" placeholder="Digite seu CPF">
        <small *ngIf="loginForm.get('cpf')?.touched && loginForm.get('cpf')?.invalid">
          {{ getErrorMessage('cpf') }}
        </small>
      </div>
    </div>
    <div>
      <label for="password">Senha:</label>
      <div class="senha-container">
        <input
          id="password"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Digite sua senha">
        <button type="button" class="toggle-btn" (click)="toggleShowPassword()">
          {{ showPassword ? 'Ocultar' : 'Mostrar' }}
        </button>
      </div>
      <small *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        {{ getErrorMessage('password') }}
      </small>
    </div>
  </div>
  <div class="button-container">
    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    <a class="link" (click)="goToResetPassword()">Recuperar senha</a>
  </div>
</form>
</div>
